div(id="sidebarlogin", class="sidemenu")
    div(class="sidebartitlebar")
      button(class="sidebarbackbutton", onclick="clickBack();")
        i(class="fa fa-arrow-left")
      a(href="/dj/signout")
        h1(style="display:inline;") Log Out #{user.username}