html
  head
    title #{dj.username}
    link(rel="stylesheet", type="text/css", href="/stylesheets/djplayer.css")
    script(type="text/javascript", src="/js/djplayer.js")

body
div(id="sidebartoggle", onclick="showSidebar();")
div(id="sidebar")
  div(id="sidebarmainmenu")
    div(class="titlebar")
      h1 Menu
    div(class="sidebarmainmenuitem", onclick="clickPlaylist();") Current Playlist
    div(class="sidebarmainmenuitem", onclick="clickSearch();") Search Songs
    div(class="sidebarmainmenuitem", onclick="expandSidebar();") Login As DJ
    div(class="sidebarmainmenuitem", onclick="expandSidebar();") Other Stuff
    div(class="sidebarmainmenuitem", onclick="expandSidebar();") We Might
    div(class="sidebarmainmenuitem", onclick="expandSidebar();") Want Later
  
  div(id="sidebarplaylistmenu")
    div(class="titlebar")
      h1 Current Playlist - #{dj.playlists[0].title}
      br

    button(class="sidebarbackbutton", onclick="clickBack();") back to main menu
    div(class="sidebarplaylistcontainer")
      div(class="playlistsong")
        div(class="votebox")
          button(class="voteboxvote") +
          button(class="voteboxvote") -


        div(class="voteboxnumber") 69
        p Michael Espey - Butt
        button(class="songx") x
  
  div(id="sidebarsearchmenu")
    div(class="titlebar")
      h1 Search Songs
      br
    
    button(class="sidebarbackbutton", onclick="clickBack();") back to main menu
    div(class="searchbar")
      input(class="searchinput", placeholder="Search for a Song")
      button(class="searchbutton") GO
    
        
    div(class="searchresults")
      div(class="playlistsong")
        div(class="votebox")
          button(class="voteboxvote") +
          button(class="voteboxvote") -
        
        div(class="voteboxnumber") 6
        p Michael Jackson - Thriller
        button(class="songx") x
      
      div(class="playlistsong")
        button(class="songadd") ADD
        p Jesse James - 50's Japan
      
      div(class="playlistsong")
        button(class="songadd") ADD
        p Tennyson - No Answer
    
    button(class="showmore") Show more resluts

div(id="sidebarshadow")