extends ./playlist.jade

block append js
    script(src='/js/djplaylist.js')

block title

block append playlist
  .input-group
      input(type="text", class="form-control", placeholder="New Playlist",onkeypress='addPlaylistKeyPress(this)')
      span(class="input-group-btn")
        button(class="btn btn-default", type="button", onclick='addPlaylist(this)')
          span(class="glyphicon glyphicon-plus",aria-hidden="true")