extends playlist

block append js
  script(src='/js/guestplaylist.js')

block playlists
  .container.contentPane
    .row
      .headerBar
        button(id="plsh" onclick="togglePlaylists(this)").showHideButt
            span(id='plshIcon',class='glyphicon glyphicon-eye-open',aria-hidden='true')
          text-center(id='currPlaylist')="Current Playlist: "
        .listContainer(id="listContainer")
          ul(class="playlistList",id="pll")
        .addNewSong
          button(id="addSong", onclick="betterExpand('addSong','addSongIcon','addSongInput',32,32,256,32);").showHideButt
            .shownContent
              span(id="addSongIcon",class='glyphicon glyphicon-plus',aria-hidden='true')
            div(id="addSongInput").hiddenContent.absoluteTopLeft
          text-center()="Add New Song"