extends ./layout.jade

block js
  script.
    var socket = io.connect('http://localhost');
    socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: 'data' });
    });

block title

  h1 Party Animal

block player

block playlist