extends layout

block content

  script(src='/scripts/auth.js')
  script(src='/scripts/player.js')

  div(id='main')
    h1= "Playlist Party"

    p(id='curr')="Currently Playing: "

    div(id="player" style="display:none;")

    button(type='button',class='btn btn-default',onclick='playPause()')
      span(id='playPauseButt',class='glyphicon glyphicon-pause', aria-hidden='true')

    button(type='button',class='btn btn-default',onclick='showHideToggle()')
      span(id='showHideButt',class='glyphicon glyphicon-eye-close', aria-hidden='true')
    
    div(id='progress',class='progress')

    p(id='time')

