extends layout

block content
  
  div(id="titleBar",class="titleBar contentPane")
    h1 Playlist Party
  
  div(id="titleVideoSpace", class="padding1em")
  
  div(id="videoSection", class="contentPane")
    block player