include ../mixins/flash-messages

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title Party Animal

    //-[if lt IE 9]
      script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
      script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.js")
    //-[endif]
    link(rel='shortcut icon', type='image/png', href='/images/Party_Hat.png')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    block css

    block head

  body(onresize="initProgressBar();")

    //- JAVASCRIPT
    script(src='/js/playlist.js')
    script(src='/js/player.js')
    script(src='/js/expanderButtons.js')
    script(src='https://apis.google.com/js/client.js?onload=init')
    script(src='/js/jquery.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/js/socket.io.js')

    block js

    //- TITLE
    .container.titleBar.contentPane: #title
      h1.text-center Party Animal
      +flash-messages(messages)
    block title
      block content
    .padding1em
    //- Player
    .container.contentPane
      .row
        .headerBar
          .showHideButt(id="shb",onclick='showHideToggle()')
            span(id='showHideButt',class='glyphicon glyphicon-eye-open',aria-hidden='true')
          text-center(id='currentlyPlaying')="Currently Playing: "
      .row
        .col-sm-6: #search
          block search
        .col-sm-6: #playlist
          block playlist
          //- Playlists
          block playlists

      .row
        block player
        .container: #player
    .addButton(id="expander", onclick="expand('expander','plus','qr')")
        .shownContent(id="plus")
            span(id='plusIcon',class='glyphicon glyphicon-plus',aria-hidden='true')
        .hiddenContent(id="qr")
            block qr
    //- FOOTER
    //.container: #footer
    //  block footer
    //  p <a href="__" target="_blank"></a>.