doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel="shortcut icon", type="image/png", href="http://static2.wikia.nocookie.net/__cb20130214015712/clubpenguin/images/thumb/c/ca/Old_2nd_Year_Party_Hat.png/133px-Old_2nd_Year_Party_Hat.png")
  body
    block content
