extends index

block player
  script(src='/scripts/auth.js')
  script(src='/scripts/player.js')
  script(src='/scripts/playlist.js')

  div(id="videoHeader", class="headerBar")
    div(id="showHideButton", class="showHideButt", onmousedown="showHideToggle(this)", onmouseover="showHideMouseOver(this)", onmouseup="showHideMouseOver(this)",onmouseout="showHideReset(this)")
      span(id="showHideIcon", class="glyphicon glyphicon-eye-close", aria-hidden="true")
    p(id='curr')="Currently Playing: "
    
  div(id="control")
    
     #player(style="display:none").col-sm-12
     
    button(type='button',class='btn btn-default',onclick='playPause()')
      span(id='playPauseButt',class='glyphicon glyphicon-pause', aria-hidden='true')

    button(type='button',class='btn btn-default',onclick='showHideToggle()')
      span(id='shb',class='glyphicon glyphicon-eye-close', aria-hidden='true')
    
    div(id='progress',class='progress')
    
    
  div(id="playlist")
    div(id='playlistGroup',class="list-group")