extends ./index.jade

block js
  script(src='/js/player.js')

block title

block qr
  h5.text-center Follow this QR to add songs on mobile devices!
  img(src='/images/ip_qr.svg' width='50%' style='max-width:100px;' align='middle').center-block

block player
  .list-group
    .row
      #player(display:hidden).col-xs-6.col-xs-offset-3
    .row
        .padding1em
    .row.col-md-12
        .progressContainer
            .progressPlayPause.text-center(onclick='playPause()')
                .span(id='myPlayPause', class='glyphicon glyphicon-pause', aria-hidden='true')
            .progressInnerContainer(id="progressInnerCont")
                .progressTimeBar(id="progressTimeBar")
            .progressTime.text-center
                .span(id='myTime')
    .row
        .padding1em
