extends ./index.jade

block title


block js
  script(src='/js/playlist.js')
  script(src='/js/player.js')
  script(src='/js/expanderButtons.js')
  script(src='https://apis.google.com/js/client.js?onload=init')

block qr
  h5.text-center Follow this QR to add songs on mobile devices!
  img(src='/images/ip_qr.svg' width='50%' style='max-width:100px;' align='middle').center-block

block search
  .padding1em
  .input-group
    input(type="text", class="form-control", placeholder="Search", aria-hiddenscribedby="basic-addon1",id='searchBar',onkeypress='searchKeyPress()')
    div(class="input-group-btn")
      button(onclick='search()',id='searchButt',class="btn btn-default", type="button") Go
  
  div(id='searchResults',class="btn-group" role="group")

block playlist
  .padding1em
  .input-group
      input(type="text", class="form-control", placeholder="New Playlist",onkeypress='addPlaylistKeyPress(this)')
      span(class="input-group-btn")
        button(class="btn btn-default", type="button", onclick='addPlaylist(this)')
          span(class="glyphicon glyphicon-plus",aria-hidden="true")

block playlists
  .panel-group
    #playlistAccordion(role='tablist',aria-multiselectable="true")

block player
  .list-group
    .row
      #player(display:hidden).col-xs-6.col-xs-offset-3
    .row
        .padding1em
    .row.col-md-12
        .progressContainer
            .progressPlayPause.text-center(onclick='playPause()')
                .span(id='myPlayPause', class='glyphicon glyphicon-pause', aria-hidden='true')
            .progressInnerContainer(id="progressInnerCont")
                .progressTimeBar(id="progressTimeBar")
            .progressTime.text-center
                .span(id='myTime')
    .row
        .padding1em
