extends ./index.jade

block js
  script(src='/js/playlist.js')

block prepend body
  body

block playlists


block search
  .padding1em
  .input-group
    input(type="text", class="form-control", placeholder="Search", aria-hiddenscribedby="basic-addon1",id='searchBar',onkeypress='searchKeyPress()')
    div(class="input-group-btn")
      button(onclick='search()',id='searchButt',class="btn btn-default", type="button") Go
  
  div(id='searchResults',class="btn-group" role="group")
