extends ./index.jade

block js
	script(src='/js/playlist.js')
    script(src='/js/player.js')
    script(src='/js/expanderButtons.js')
    script(src='https://apis.google.com/js/client.js?onload=init')