extends layout.jade

html
  head
    title testpage
    link(rel='shortcut icon', type='image/png', href='/images/Party_Hat.png')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  block content
    .container
      h2 
        a(href="http://#{prefix}.yourpartyanimal.com/dj/player/1") DJ Player
      h2
        a(href="http://#{prefix}.yourpartyanimal.com/dj/playlist/1") DJ Playlist
      h2
        a(href="http://#{prefix}.yourpartyanimal.com/guest/1/1") Guest Page
      h2
        a(href="http://#{prefix}.yourpartyanimal.com/dj/home") DJ Home
