doctype html

html
  head
    title testpage
    link(rel='shortcut icon', type='image/png', href='/images/Party_Hat.png')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p
      a(href="http://"+process.env.prefix+".yourpartyanimal.com/dj/player/1") DJ Player
    p
      a(href="http://"+process.env.prefix+".yourpartyanimal.com/dj/playlist/1") DJ Playlist
    p
      a(href="http://"+process.env.prefix+".yourpartyanimal.com/guest/1/1") Guest Page