extends layout.jade

block content
  .container
    h2
      a(href="http://localhost:3000/dj/home") DJ Home
    h2
      a(href="http://localhost:3000/dj/playlist/1") DJ Playlist 
      p (does not work)
    h2
      a(href="http://localhost:3000/guest/1/1") Guest Page