*
{
  box-sizing: border-box;
}
body
{
  background-color: #303030;
  color: #ccc;
  font-size:5vmin;
}
button
{
  font-size:5vmin;
}
button:focus
{
  outline:none;
}
input:focus
{
  outline:none;
}

.container
{
    text-align:center;
}

.contentarea
{
  display:inline-block;
  width:90%;
  padding:5%;
  margin: -5%;
  max-width:960px;
  background: -moz-radial-gradient(center, ellipse closest-side, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-radial-gradient(center, ellipse closest-side, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  background: radial-gradient(closest-side ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.video
{
    display:inline-block;
    width:100%;
    /*padding-bottom:56.25%;*/
    height:70%;
    background-color:black;
}
.progressbarcontainer
{
    display:flex;
    width:100%;
    height:8.25vmin;
    background-color: #303030;
    border-bottom:solid black 0.25vmin;
}
.progressbarplaypause
{
    display:inline-block;
    cursor:pointer;
    width:20vmin;
    height:8vmin;
    float:left;
    background-color:#606060;
    color: #ccc;
    border: none;
    border-top: solid 1vmin #888;
}
.progressbarplaypause:hover
{
    background-color: #a0a0a0;
}
.progressbarplaypause:active
{
    background-color: #404040;
}
.progressbarinnercontainer
{
  width:100%;
  flex-shrink:1;
}
.progressbar
{
    display:inline-block;
    width:0;
    height:8vmin;
    float:left;
    background-color:#cc6600;
    border-top:solid 1vmin #f4ad66;
}
.progressbartime
{
    display:inline-block;
    width:20vmin;
    height:8vmin;
    float:right;
    background-color:#606060;
    border-top: solid 1vmin #888;
}
.playlistcontainer
{
    display:inline-block;
    width:100%;
    height:75%;
    background-color: #606060;
    overflow-x: hidden;
    overflow-y: scroll;
}
.playlistsong
{
    text-align:left;
    display:inline-block;
    width:100%;
    height:20vmin;
    background-color: #606060;
    color: white;
    border-bottom: solid 1px black;
    overflow:hidden;
}

.playlistsong:nth-child(even)
{
    background-color: #808080;
}
.psactive
{
  background-color: #f4ad66 !important;
/*=======
  text-align:left;
  display:inline-block;
  width:100%;
  height:64px;
  background-color: #f4ad66;
>>>>>>> frag*/
  color: black;
}
.votebox
{
    display:inline-block;
    position:relative;
    float:left;
    width:10vmin;
    height:20vmin;
}
.voteboxvote
{
    cursor:pointer;
    display:block;
    width: 10vmin;
    height: 10vmin;
    background-color: #606060;
    color:white;
    border: none;
    border-bottom: solid 1px black;
}
.voteboxvote:nth-child(even)
{
  background-color: #808080;
  border: none;
}
.voteboxvote:hover
{
  background-color: #a0a0a0;
}
.voteboxvote:active
{
  background-color: #404040;
}
.voteboxvote:disabled
{
  background-color:#ccc;
  color:black;
}
.voted
{
  background-color:#f4ad66 !important;
}
.voteboxnumber
{
    display:inline-block;
    position:relative;
    float:left;
    width: 10vmin;
    height: 20vmin;
    margin-right:16px;
    text-align: center;
    font-size: 175%;
    background-color: #303030;
    color: #ccc;
    border-left:solid black 1px;
    border-right: solid black 1px;
}
.songx
{
    display:block;
    position: relative;
    float: right;
    padding-right:8px;
    border: none;
    background-color: rgba(0,0,0,0);
    color: #ccc;
}
.songx:active
{
    color: black;
}
.songadd
{
    display:inline-block;
    position:relative;
    cursor: pointer;
    float:left;
    width: 20vmin;
    height: 20vmin;
    margin-right:16px;
    text-align: center;
    font-size: 200%;
    background-color: #303030;
    color: #ccc;
    border: none;
    border-right: solid black 1px;
}
.songadd:hover
{
    background-color:#808080;
}
.songadd:active
{
    background-color:#606060;
}
.collapseplaylist
{
    display: inline-block;
    width:100%;
    height:32px;
    background-color: #cc6600;
    border: none;
}
.collapseplaylist:hover
{
    background-color: #4ba4ff;
}
.collapseplaylist:active
{
    background-color: #0d85ff;
    color: white;
}
.searchbar
{
    display:inline-block;
    width: 100%;
    height: 10vmin;
    background-color: #303030;
    display:flex;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
.searchinput
{
    width: 100%;
    height: 100%;
    text-align: left;
    border: none;
    flex-shrink: 1;
    font-size: 150%;
    background-color: #303030;
    color: white;
}
.searchinput:focus
{
  border-bottom: solid 0.5vmin #cc6600;
}
.searchinput::selection
{
  background-color: #f4ad66;
}
.searchbutton
{
    display: inline-block;
    position: relative;
    background-color: #303030;
    color: #c0c0c0;
    float:right;
    width: 10vmin;
    height: 10vmin;
    border: none;
    cursor: pointer;
}
.searchbutton:hover
{
    color: white;
}
.searchbutton:active
{
    color: #808080;
}
.searchresults
{
    display:inline-block;
    width:100%;
    height:256;
    overflow: hidden;
}
.showmore
{
    display:inline-block;
    width:100%;
    height:64;
    background-color:#cc6600;
    color: white;
    border: none;
}
.showmore:hover
{
    background-color: #b45b00;
}
.showmore:active
{
    background-color: #f4ad66;
    color: black;
}

/*Sidebar Stuff*/

#sidebar
{
  width: 50%;  /*Make 25% for desktop?*/
  height: 100%;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: 2;
  overflow: hidden;
  background-color: #606060;
  transition: right .4s, width .4s;
}
#sidebarshadow
{
  width: 50%; /*Make 25% for desktop?*/
  height: 100%;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: 0;
  box-shadow: 0 0 4vmin black;
  transition: right .4s, width .4s;
}
#sidebartoggle
{
  width: 12vmin;
  height: 10vmin;
  position: fixed;
  right: 0;
  top: 4vmin;
  z-index: 1;
  cursor: pointer;
  background-color: #cc6600;
  border: none;
  /*border-radius: 8px 0 0 8px;*/
  box-shadow: 0 0 4vmin black;
  transition: right .4s, width .4s;
}
#sidebartoggleicon
{
  font-size: 200%;
  color:white;
  transition: transform .4s;
}

#sidebarmainmenu
{
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  transition: left .4s;
}
.sidebarmenuitem
{
  width:100%;
  height:20vmin;
  background-color: #606060;
  color: white;
  border: none;
  border-bottom: solid 1px black;
}
.sidebarmenuitem:nth-child(even)
{
  background-color: #808080;
}
.sidebarmenuitem:hover
{
    background-color: #a0a0a0;
}
.sidebarmenuitem:active
{
    background-color: #404040;
}
.sidemenu
{
  width:100%;
  height:calc(100vh - 30vmin);
  position: absolute;
  left:100%;
  top: 0;
  transition: left .4s;
}
.cplaylist
{
  height: calc(100vh - 20vmin);
}
.sidebarplaylistcontainer
{
  width:100%;
  height:100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.sidebartitlebar
{
  display:inline-block;
  width:100%;
  height:20vmin;
  background-color:#cc6600;
  color: white;
  text-align:left;
  border-top: solid 1vmin #f4ad66;
}
.sidebarbackbutton
{
  cursor: pointer;
  font-size:200%;
  margin-top:22px;
  border:none;
  background-color: rgba(0,0,0,0);
  color: white;
}
.newplaylist
{
  width: 100%;
  height: 64px;
  background-color: #303030;
  display:flex;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}
.addplaylistbutton
{
    display: inline-block;
    position: relative;
    background-color: #303030;
    color: #c0c0c0;
    float:right;
    width: 64px;
    height: 64px;
    border: none;
}
.addplaylistbutton:hover
{
    color: white;
}
.addplaylistbutton:active
{
    color: #808080;
}
.sidebarqr
{
  position: absolute;
  bottom: 0;
  right: 0;
  display:inline-block;
  width: 25vmin;
  height: 25vmin;
  background-color:#ccc;
  background-image: url("img/qrtest.svg");
}

/*Home Page Stuff*/

.hpmaincontent
{
  display:inline-block;
  width:100%;
  background-color: #606060;
  padding-bottom:64px;
}

.hpsidebyside
{
  position:relative;
  display:inline-block;
  width: 100%;
}

.hpsidecontent
{
  vertical-align:top;
  display:inline-block;
  width:40%;
}

.hpor
{
  display: inline-block;
  margin: 2%;
  margin-top: 50px;
}

@media all and (orientation: portrait)
{
  .hpsidecontent
  {
    vertical-align:top;
    display:inline-block;
    width:100%;
  }

  .hpor
  {
    display: inline-block;
    margin:0;
  }
}
@media (max-resolution: 150dpi) and (min-width: 480px) /* Low res screens (or not phones)*/
{
  body
  {
    font-size:2.5vmin;
  }
  button
  {
    font-size:2.5vmin;
  }
  .progressbarcontainer
  {
    height:4.125vmin;
    border-bottom:solid 0.125vmin black;
  }
  .progressbarplaypause
  {
    width:10vmin;
    height:4vmin;
    border-top: solid .5vmin #888;
  }
  .progressbar
  {
    height: 4vmin;
    border-top:solid .5vmin #f4ad66;
  }
  .progressbartime
  {
    width: 10vmin;
    height: 4vmin;
    border-top: solid .5vmin #888;
  }
  .playlistsong
  {
    height:10vmin;
  }
  .votebox
  {
    width:5vmin;
    height:10vmin;
  }
  .voteboxvote
  {
    width:5vmin;
    height:5vmin;
  }
  .voteboxnumber
  {
    width:5vmin;
    height:10vmin;
  }
  .songadd
  {
    width: 10vmin;
    height:10vmin;
  }
  .searchbar
  {
    height:5vmin;
  }
  .searchinput:focus
  {
    border-bottom: solid 0.25vmin #cc6600;
  }
  .searchbutton
  {
    width: 5vmin;
    height: 5vmin;
  }
  #sidebartoggle
  {
    width: 6vmin;
    height: 5vmin;
    top: 2vmin;
  }
  .sidebartitlebar
  {
    height: 10vmin;
    border-top: solid .5vmin #f4ad66;
  }
  .sidebarmenuitem
  {
    height: 10vmin;
  }
}