body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

progress {
  width:100%;
}

#footer {
  position: absolute;
  width: 100%;
  margin-top: 30px;
  border-top: 1px solid gray;
  padding-top: 30px;
  bottom: 0;
  left: 0;
  color: gray;
}

.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox{
    margin-bottom: 10px;
}
.form-signin .checkbox{
    font-weight: normal;
}
.form-signin .form-control{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus{
    z-index: 2;
}
.form-signin input[type="text"]{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="password"].nomargin{
    margin-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.signup-wall{
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); 
}
.login-title{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.new-account{
    display: block;
    margin-top: 10px;
}
h1.error-message{
    color: red;
}
ul.user-details{
    list-style: none;
}

/*  -------------my stuff--------------------   */



body
{
    font-family: 'Raleway', sans-serif;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8d8d8+0,f0f0f0+33,f0f0f0+66,d8d8d8+100 */
    background: rgb(216,216,216); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(216,216,216,1) 0%, rgba(240,240,240,1) 33%, rgba(240,240,240,1) 66%, rgba(216,216,216,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(216,216,216,1)), color-stop(33%,rgba(240,240,240,1)), color-stop(66%,rgba(240,240,240,1)), color-stop(100%,rgba(216,216,216,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(216,216,216,1) 0%,rgba(240,240,240,1) 33%,rgba(240,240,240,1) 66%,rgba(216,216,216,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(216,216,216,1) 0%,rgba(240,240,240,1) 33%,rgba(240,240,240,1) 66%,rgba(216,216,216,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(216,216,216,1) 0%,rgba(240,240,240,1) 33%,rgba(240,240,240,1) 66%,rgba(216,216,216,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(216,216,216,1) 0%,rgba(240,240,240,1) 33%,rgba(240,240,240,1) 66%,rgba(216,216,216,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#d8d8d8',GradientType=1 ); /* IE6-9 */

} 

div.contentPane
{
    background-color: #f8f8f8;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 8px;
    transition: height 0.2s;
}

div.titleBar
{
    height: 64px;
    font-family: 'Roboto', sans-serif;
}

div.headerBar
{
    font-size:20px;
    line-height: 64px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 64px;
    background-color: #d4d4d4;
    border-bottom: solid 1px #c0c0c0;
}

button.showHideButt
{
    text-align: center;
    cursor: pointer;
    line-height: 36px;
    width: 32px;
    height: 32px;
    background-color: #25b5b9;
    margin: 16px;
    border-style: none;
    float: left;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
    border-radius: 4px;
    transition: width 0.2s, height 0.2s;
    position:relative;
    overflow:hidden;
}

button.showHideButt:hover
{
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

button.showHideButt:active
{
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}

button.showHideButt:focus
{
    outline:none;
}

div.hiddenRickAstleyButt
{
    width: 32px;
    height: 32px;
    margin: 16px;
    float: right;
    cursor: default;
}

div.padding1em
{
    width:100%;
    height: 16px;
}

ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li.playlistEntry
{
    list-style-position: outside;
    list-style-type: none;
    height: 32px;
    border-width: 1px;
    border-top-color: white;
    border-top-style: solid;
    border-bottom-color: #f0f0f0;
    border-bottom-style: solid;
    padding-left: 0px;
    margin-left: 0px;
}

li.nowPlaying
{
    background-color: #c1eff1;
    border-top-color: #c9f7f9;
    border-top-style: solid;
    border-bottom-color: #b9e7e9;
    border-bottom-style: solid;
}

/*my progress bar stuff*/

div.progressContainer
{
    -webkit-user-select: none;
    height: 20px;
    margin-left:16px;
    margin-right:16px;
    border-radius:4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

button.progressPlayPause
{
    cursor: pointer;
    float: left;
    background-color: white;
    width: 64px;
    height: 100%;
    border-radius: 4px 0px 0px 4px;
    border-style: solid;
    border-right-style: none;
    border-width: 1px;
    border-color: grey;
}

button.progressPlayPause:hover
{
    border-color:black;
    background-color: #e6e6e6;
    text-shadow: 0 0 4px rgba(0,0,0,.2);
}

button.progressPlayPause:active
{
    background-color: #d4d4d4;
    text-shadow: 0 0 4px rgba(0,0,0,.2);
}

button.progressPlayPause:focus
{
    outline: none;
}

div.progressTime
{
    float: right;
    background-color: white;
    width: 128px;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    border-style: solid;
    border-left-style: none;
    border-width: 1px;
    border-color: grey;
}

div.progressInnerContainer
{
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5) inset;
    float: left;
    height: 100%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: grey;
}

div.progressTimeBar
{
    float: left;
    width: 0%;
    background-color: #25b5b9;
    height: 100%;
}

/* QR code expander stuff */

button.addButton
{
    overflow:hidden;
    text-align:center;
    cursor: pointer;
    background-color: white;
    width:32px;
    height:32px;
    border: none;
    border-radius: 16px;
    position: fixed;
    right:16px;
    bottom:16px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
    transition: width 0.2s, height 0.2s;
    z-index:10;
}

button.addButton:hover
{
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

button.addButton:focus
{
    outline:none;
}

.hiddenContent
{
    opacity: 0;
    transition: opacity 0.2s;
}

.shownContent
{
    opacity: 1;
    transition: opacity 0.2s;
}

.absoluteTopLeft
{
    position: absolute;
    left:0px;
    top:0px;
}

/* Playlist Stuff */

div.listContainer
{
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5) inset;
    height: 256px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: height 0.2s;
}

ul.playlistList
{
    
}

li.playlistSong
{
    background: #f8f8f8;
    border-top: 1px solid white;
    border-bottom: 1px solid lightgrey;
    height: 64px;
}

li.playlistSong:nth-child(odd)
{
    background: #f0f0f0;
}

div.addNewSong
{
    font-size:20px;
    line-height: 64px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 64px;
    background-color: #d4d4d4;
    border-top: solid 1px white;
}