body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

progress {
  width:100%;
}

#footer {
  position: absolute;
  width: 100%;
  margin-top: 30px;
  border-top: 1px solid gray;
  padding-top: 30px;
  bottom: 0;
  left: 0;
  color: gray;
}

/*  -------------my stuff--------------------   */



body
{
	font-family: 'Raleway', sans-serif;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8d8d8+0,f0f0f0+33,f0f0f0+66,d8d8d8+100 */
    background: rgb(216,216,216); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(216,216,216,1) 0%, rgba(240,240,240,1) 33%, rgba(240,240,240,1) 66%, rgba(216,216,216,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(216,216,216,1)), color-stop(33%,rgba(240,240,240,1)), color-stop(66%,rgba(240,240,240,1)), color-stop(100%,rgba(216,216,216,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(216,216,216,1) 0%,rgba(240,240,240,1) 33%,rgba(240,240,240,1) 66%,rgba(216,216,216,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(216,216,216,1) 0%,rgba(240,240,240,1) 33%,rgba(240,240,240,1) 66%,rgba(216,216,216,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(216,216,216,1) 0%,rgba(240,240,240,1) 33%,rgba(240,240,240,1) 66%,rgba(216,216,216,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(216,216,216,1) 0%,rgba(240,240,240,1) 33%,rgba(240,240,240,1) 66%,rgba(216,216,216,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#d8d8d8',GradientType=1 ); /* IE6-9 */

} 

div.contentPane
{
	background-color: #f8f8f8;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 8px;
}

div.titleBar
{
	height: 64px;
	font-family: 'Roboto', sans-serif;
}

div.headerBar
{
    font-size:20px;
	line-height: 64px;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 64px;
	background-color: #e0e0e0;
}

div.showHideButt
{
    text-align: center;
    cursor: pointer;
    line-height: 36px;
	width: 32px;
	height: 32px;
	background-color: #25b5b9;
	margin: 16px;
	float: left;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
    border-radius: 4px;
}

div.showHideButt:hover
{
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

div.showHideButt:active
{
	box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}

div.hiddenRickAstleyButt
{
	width: 32px;
	height: 32px;
	margin: 16px;
	float: right;
	cursor: default;
}

div.padding1em
{
	width:100%;
	height: 16px;
}

div.mockVid
{
	background-color: black;
	width: 18%;
	padding: 18%;
	max-width: 640;
	max-height: 360;
}

ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li.playlistEntry
{
	list-style-position: outside;
	list-style-type: none;
	height: 32px;
	border-width: 1px;
	border-top-color: white;
	border-top-style: solid;
	border-bottom-color: #f0f0f0;
	border-bottom-style: solid;
	padding-left: 0px;
	margin-left: 0px;
}

li.nowPlaying
{
	background-color: #c1eff1;
	border-top-color: #c9f7f9;
	border-top-style: solid;
	border-bottom-color: #b9e7e9;
	border-bottom-style: solid;
}