doctype html
html
  body
    ul
      each plist in playlists
        li
          a(href="#" onclick="")= plist.title
        ul
          each song in plist.songs

            li
              a(href=song.id, onclick="")=song.title