extends ../layout

block head
  title Your Party

//-  header
//- title #{dj.username} - #{dj.currentPlaylist.title}

block css
  link(rel="stylesheet", type="text/css", href="/stylesheets/djplayer.css")

block js
  script(type="text/javascript", src="/js/djplayer.js")
  script(type="text/javascript", src="/js/dj.js")
  script(type="text/javascript", src="/js/youtube.js")

//-  body

block sidebar
  if dj
    include ./sidebar.jade
  else
    include ../guest/sidebar.jade

block title
  h1(id='pagetitle') #{dj.username} - #{dj.currentPlaylist.title}

block content
  div(class="contentarea")
      div(id="player", class="video")
      div(class="progressbarcontainer")
        button(id="progressbarplaypause", class='progressbarplaypause', onclick="playPause();")
          i(class="fa fa-play")
        div(class='progressbarinnercontainer')
          div(class='progressbardisplay')
            div(class="progressbar")
        div(class="progressbartime") 0:00
