extends ../layout

block css
  link(rel="stylesheet" type="text/css" href="/stylesheets/djplayer.css")
    
block content
  div.container
    div.row
      div.col-sm-6.col-md-4.col-md-offset-4
        h1.text-center.login-title DJ Registration
          div.signup-wall
            form(class='form-signin', action='/dj/signup', method='POST')
              div(class='searchbar')
                input(type='text', name='username', class='registerinput', placeholder='Username',required, autofocus)
              div(class='searchbar')
                input(type='password', name='password', class='registerinput nomargin', placeholder='Password', required)
              div(class='searchbar')
                input(type='email', name='email', class='registerinput', placeholder='Email',required)
              div(class='searchbar')
                input(type='text', name='firstName', class='registerinput', placeholder='First Name',required)
              div(class='searchbar')
                input(type='text', name='lastName', class='registerinput', placeholder='Last Name',required)
                button(class='searchbutton', type='submit') 
                  i(class="fa fa-check")
              span.clearfix
          #message
            if message
              h1.text-center.error-message #{message}